


.my-form {
    padding: 20px;
    box-shadow: 2px 2px 2px #9b9b9b33;
    margin: 0; /* Remove margin to avoid spacing issues */
}

.my-form label {
    font-weight: bold;
}

.my-form input {
    margin-bottom: 15px;
}

.my-form button {
    margin-top: 15px;
}
