
<div class="container-fluid d-flex flex-row position-relative">
    <div class="col-md-6 p-0 overflow-hidden">
      <img src="../assets/LoginForm.avif" alt="Meal Image" class="img-fluid rounded-end shadow-sm h-100">
    </div>
  
    <div class="col-md-6 rounded shadow-sm d-flex flex-column justify-content-center px-5 py-5">
      <div class="text-center mb-4">
        <h3 class="fw-bold">Update Password</h3>
      </div>
  
      <form [formGroup]="UpdateForm" (submit)="UpdatePassword()" class="my-form row g-3 ">
        <div class="col-12">
          <label for="CurrentPasssowrd" class="form-label">Current Password:</label>
          <input type="password" class="form-control rounded-pill shadow-sm" id="CurrentPasssowrd" placeholder="Enter your password" name="CurrentPasssowrd" formControlName="CurrentPasssowrd">
          <span class="text-danger" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">Invalid password </span>
        </div>
        <div class="col-12">
          <label for="NewPassword" class="form-label">New Password:</label>
          <input type="password" class="form-control rounded-pill shadow-sm" id="NewPassword" placeholder="Enter your current password" name="NewPassword" formControlName="NewPassword">
          <small class="form-text text-muted">
            *Password must contain at least 1 uppercase letter in beginning and 1 special symbol.
          </small><br>
          <span class="text-danger" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">Invalid Password</span>
        </div>
        <div class="col-12">
          <label for="Confirmpassword" class="form-label">Confirm Password:</label>
          <input type="password" class="form-control rounded-pill shadow-sm" id="Confirmpassword" placeholder="Enter your new password" name="Confirmpassword" formControlName="Confirmpassword">
          <small class="form-text text-muted">
            *Password must contain at least 1 uppercase letter in beginning and 1 special symbol.
          </small><br>
          <span class="text-danger" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">Invalid Password</span>
          <span id="ConfirmpasswordError" class="text-danger"></span>
        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary rounded-pill shadow-sm" [disabled]="UpdateForm.invalid">Update</button>
        </div>
      </form>
    </div>
  </div>
  